h1 {
    user-select: none;
}

h1::before {
    content: "*";
    margin: 50px;
}

h1::after {
    content: "@";
}

h1::first-letter {
    color: #8a2be2;
}

p::first-line {
    font-size: 2em;
}

p::selection {
    color: #ff0000;
    background-color: black;
}

input::placeholder {
    font-style: italic;
}

div {
    height: 300px;
    width: 300px;
    background-color: #8a2be2;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    background-color: #F7B733;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  
  div::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -10px;
    border: 10px solid transparent;
    border-left-color: #F7B733;
  }
  
  