body {
    height: 100%;
    width: 100%;
    background-color: #175992;
    font-family: sans-serif;
}

h1 {
    height: 100px;
    width: 50%;
    font-size: 2.5em;
    background-color: #00ff0d;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: solid 3px #000;
    border-radius: 10px;
}

p {
    color: #dc8c14;
}

.destaque {
    font-size: 20px;
    color: #ff00ee;
}

#cabecalho {
    font-size: 3em;
    color: #dc1414;
}